.popup__close {
  position: absolute;
  display: block;
  top: -48px;
  right: -48px;
  cursor: pointer;
  border: none;
  box-shadow: none;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 57.6px;
  height: 57.6px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.popup__close:hover {
  opacity: 0.6;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 700px) {
  .popup__close {
    width: 8.2vw;
    height: 8.2vw;
    top: -6.8vw;
    right: -6.8vw;
  }
}
